form {
    margin-top:10px;
    margin-left: 350px;
    width: 700px;
    color: green;
    background-color: white;
          
}

#add-train{
    color: white;
}
.jumbotron {
    height: 100px;
    padding-top: 10px;
    
}

body {
    background-image: url(https://images3.alphacoders.com/106/106677.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

table {
    color: white;
}


