

#addTrain{
    color: white;
    margin-left: 400px;
}
.jumbotron {
    height: 100px;
    padding-top: 10px;
    
}

body {
    background-image: url(https://images3.alphacoders.com/106/106677.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

table {
    color: white;
}

.card-header {
   color: black;
   font-weight: bold;
}

#table-header {
    color: black;
    font-weight: bold;
    font-size: 20px;
}

#add-train {
    color: black;
    font-weight: bold;
}

